################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.vsidx
/.vs/cidr2acl/CopilotIndices/17.14.734.62261/CodeChunks.db
*.db-shm
*.db-wal
/.vs/cidr2acl/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/.vs/cidr2acl/v17/.futdcache.v2
/.vs/cidr2acl/DesignTimeBuild/.dtbcache.v2
/.vs/cidr2acl/v17/DocumentLayout.json
/.vs/ProjectEvaluation/cidr2acl.metadata.v9.bin
/.vs/ProjectEvaluation/cidr2acl.projects.v9.bin
/.vs/ProjectEvaluation/cidr2acl.strings.v9.bin
/.vs/cidr2acl/v17/.suo
/cidr2acl/bin/Debug/net9.0
/cidr2acl/obj/Debug/net9.0/ref
/cidr2acl/obj/Debug/net9.0/refint
*.exe
*.pdb
/cidr2acl/obj/Debug/net9.0/cidr2acl.dll
*.cache
/cidr2acl/obj/Debug/net9.0/cidr2acl.csproj.FileListAbsolute.txt
/cidr2acl/obj/Debug/net9.0/cidr2acl.AssemblyInfoInputs.cache
/cidr2acl/obj/Debug/net9.0/cidr2acl.AssemblyInfo.cs
/cidr2acl/obj/Debug/net9.0/cidr2acl.sourcelink.json
/.vs/cidr2acl/v17/DocumentLayout.backup.json
